%a{:href => "#"}
    Inbox
    %span.badge
        42
%button.btn.btn-primary{:type => "button"}
    Messages
    %span.badge
        5
%h3
    Example heading
    %span.label.label-default 
        = link_to "New Note", new_note_path
        
%br
%br
%ul.nav.nav-pills{role: "tablist"}
    %li.active{role: "presentation"}
        %a{href: "#"}
            Home
            %span.badge
                42
    %li{role: "presentation"}
        %a{href: "#"} Profile
    %li{role: "presentation"}
        %a{href: "#"}
            Messages
            %span.badge
                3
                
.wrapper_with_padding
    - unless @posts.blank?
        %h1
            %button.btn.btn-primary{type: "button"}
                = link_to "Active Posts", posts_path
                
                %span.badge
                    = @posts.count
    
    
.jumbotron
    %h2 Posts
    %button.btn.btn-primary{type: "button"}
        = link_to "Active Posts", posts_path
    .col-xs-6.col-md-3
        %a.img-circle{ href: "#"}
            // = image_tag("cercle bleu.png", alt: "rss feed", style: "height: 100px; width: 100px; display: block;")
            
.panel
    .panel-heading
        Posts
    .panel-body
        #dashboard
            #posts
                - unless @posts.blank?
                    %h1
                        %button.btn.btn-primary{type: "button"}
                            = link_to "Active Posts", posts_path
                            
                            %span.badge
                                = @posts.count
                    
                    - @posts.each do |post|
                        %a{ href: (url_for [post])}
                            .post   
                                %p.title= post.title
                                %p.process
                                    Process:
                                    = post.pro.name
                                %br
                                %p.date
                                    Created
                                    = time_ago_in_words(post.created_at)
                                    ago by
                                    = post.user.email
                                %p.comment_count= pluralize post.comments.count, "comment" 
                - else 
                    %h2 Add a Post
                    %p You haven't created any posts yet
                    %button= link_to "New Post", new_post_path
                
    .panel-heading
        Notes
    .panel-body
        #dashboard
            #notes
                - unless @notes.blank?
                    %h2
                        Active Notes (
                        = @notes.count
                        )
                    - @notes.each do |note|
                        %a{ href: (url_for [note])}
                            .note   
                                %p.title= note.title
                                %p.date
                                    Created
                                    = time_ago_in_words(note.created_at)
                                    ago
                - else 
                    %h2 Add a note
                    %p You haven't created any notes yet
                    %button= link_to "New Note", new_note_path
                
