.comment
    %p= comment.comment
    %p= time_ago_in_words(comment.created_at)
    %p= comment.user.email
    = link_to "Edit reply", edit_post_comment_path(comment.post, comment)
    = link_to "Delete reply", [comment.post, comment], method: :delete, data: { confirm: "Please confirm" }