.list-group
    %a.list-group-item.active{:href => "#"}
        - unless @posts.blank?
            - @posts.each do |post|
                %h4.list-group-item-heading= post.title
                %p.list-group-item-text= "Created"+ " "+time_ago_in_words(post.created_at) + " "+"ago"
                %p.list-group-item-text= post.user.email
                %p.list-group-item-text= pluralize post.comments.count, "comment" 

        - else 
            %h2 Add a Post
            %p You haven't created any posts yet
            %button= link_to "New Post", new_post_path
