#post_content
    %h1.title= @post.title
    %p= simple_format(@post.content)
    %p.date
    Processus:
    = @post.pro.name
    %br
    %br
        
    #comments
        .comment
            = @post.comments.count
            contributions
        %p= render @post.comments
            
        %h3 Give your view
        = render "comments/form"
        %p
        %br
        %hr
        %br
        .comment
            .buttons
                = link_to "Edit Post", edit_post_path(@post)
                = link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure  ?"}
                = link_to "Home", root_path
