!!!
%html
%head
  %title Online Notebook
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}/
  = csrf_meta_tags
  
  <SCRIPT type="text/javascript">
  window.history.forward();
  function noBack() { window.history.forward(); }
  </SCRIPT>
    
%body 
  onload="noBack(); onpageshow="if (event.persisted) noBack();" onunload=""
  %header
    .header_inner
      = link_to image_tag('logo.svg'), root_path, id: "logo"
      %nav
        - if user_signed_in?
          = link_to "New Note", new_note_path
          = link_to "New Post", new_post_path
          = link_to "Sign Out", destroy_user_session_path, method: :delete  
        - else
          = link_to "Log in", new_user_session_path
  %p.notice= notice
  %p=alert= alert
  
  = yield
