!!!
%html
%head
  %title Online Notebook
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}/
  = csrf_meta_tags
  <SCRIPT type="text/javascript">
  window.history.forward();
  function noBack() { window.history.forward(); }
  </SCRIPT>
    
%body
  onload="noBack(); onpageshow="if (event.persisted) noBack();" onunload=""
  %header.main_header.clearfix
    .header_inner
      #logo
      = link_to image_tag('Eval-Expert_icon.png'), root_path, id: "logo"
      %nav
        - if user_signed_in?
          = link_to "New Post", new_post_path
        - else
          = link_to "Sign Up", new_user_registration_path
        = link_to "Sign In", new_user_session_path
  .wrapper
    %p.notice= notice
    %p.alert= alert
  .wrapper
    = yield
